# Project Walkthroughs with SQL
This notebook demonstrates end-to-end analysis using SQL on the sample dataset.

In [2]:
%load_ext sql
%sql sqlite:///../datasets/sample.db

## Example: Top Countries by User Count

In [3]:
%%sql
SELECT country, COUNT(*) as user_count
FROM users
GROUP BY country
ORDER BY user_count DESC;

 * sqlite:///../datasets/sample.db
(sqlite3.OperationalError) no such column: country
[SQL: SELECT country, COUNT(*) as user_count
FROM users
GROUP BY country
ORDER BY user_count DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)