# ðŸ’¼ Project Walkthroughs: SQL for Real-World Analysis
In this notebook, we solve key business problems using SQL with real data.

In [ ]:
%load_ext sql
%sql sqlite:///sample.db

## ðŸŽ¯ Project 1: Segmenting Customers
Group users into tiers based on their revenue.

In [ ]:
%%sql
SELECT 
  user_id,
  SUM(revenue) AS total_revenue,
  CASE 
    WHEN SUM(revenue) > 1000 THEN 'High Value'
    WHEN SUM(revenue) BETWEEN 500 AND 1000 THEN 'Mid Value'
    ELSE 'Low Value'
  END AS segment
FROM orders
GROUP BY user_id;

## ðŸ§ª Project 2: Funnel Analysis
Track user drop-off through funnel steps.

In [ ]:
%%sql
SELECT 
  user_id,
  MAX(CASE WHEN step = 'landing' THEN 1 ELSE 0 END) AS landed,
  MAX(CASE WHEN step = 'signup' THEN 1 ELSE 0 END) AS signed_up,
  MAX(CASE WHEN step = 'purchase' THEN 1 ELSE 0 END) AS purchased
FROM funnel_steps
GROUP BY user_id;