# ðŸ§  SQL Learning Notebook

Welcome! This notebook helps you learn core SQL concepts interactively using `%sql` magic.

**Database:** sample.db (from `load_csvs_to_sqlite.ipynb`)

---
## 1. ðŸŸ¢ SELECT Statements

In [ ]:
%sql
-- Select all users
SELECT * FROM users LIMIT 5;

## 2. ðŸ”Ž Filtering with WHERE

In [ ]:
%sql
-- Filter users from India
SELECT * FROM users
WHERE country = 'India';

## 3. â†•ï¸ Sorting and Aliasing

In [ ]:
%sql
-- Sort users by age
SELECT name, age AS user_age
FROM users
ORDER BY age DESC;

## 4. ðŸ§® Aggregations (GROUP BY, SUM, COUNT)

In [ ]:
%sql
-- Count of users by country
SELECT country, COUNT(*) AS user_count
FROM users
GROUP BY country;

In [ ]:
%sql
-- Total order value by user
SELECT user_id, SUM(order_amount) AS total_spent
FROM orders
GROUP BY user_id
ORDER BY total_spent DESC;

## 5. ðŸ”— JOIN Operations

In [ ]:
%sql
-- Join users and orders
SELECT u.user_id, u.name, o.order_id, o.order_amount
FROM users u
JOIN orders o ON u.user_id = o.user_id
LIMIT 10;

## 6. ðŸ§  Subqueries and CASE Logic

In [ ]:
%sql
-- Get users who spent more than average
SELECT u.user_id, u.name, SUM(o.order_amount) AS total_spent
FROM users u
JOIN orders o ON u.user_id = o.user_id
GROUP BY u.user_id
HAVING total_spent > (
    SELECT AVG(order_amount) FROM orders
);

In [ ]:
%sql
-- Classify orders by size using CASE
SELECT order_id, order_amount,
       CASE
           WHEN order_amount > 1000 THEN 'High'
           WHEN order_amount BETWEEN 500 AND 1000 THEN 'Medium'
           ELSE 'Low'
       END AS order_size
FROM orders
LIMIT 10;