# ðŸ§  Learn SQL by Doing: Guided SQL Notebook
Welcome to your SQL interactive learning notebook! This hands-on course covers the basics using real tables like `users`, `orders`, and `products`.

In [ ]:
%load_ext sql
%sql sqlite:///sample.db

## 1. Select Your First Rows
Letâ€™s begin by querying the `users` table.

In [ ]:
%%sql
SELECT * FROM users LIMIT 5;

## 2. Filtering with WHERE
Find all active users in the South region.

In [ ]:
%%sql
SELECT * FROM users
WHERE region = 'South' AND status = 'active';

## 3. Joining Tables
Combine user and order data.

In [ ]:
%%sql
SELECT u.id, u.name, o.order_id, o.revenue
FROM users u
JOIN orders o ON u.id = o.user_id
LIMIT 10;